# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,php,css,html}]
charset = utf-8
trim_trailing_whitespace = true
indent_style = space

[*.php]
indent_size = 4
continuation_indent_size = 4

[*.js]
indent_size = 2
continuation_indent_size = 2

[*.html]
indent_size = 2
continuation_indent_size = 8